<div class="canvas-container">
    <canvas id="starCanvas" class="star-canvas"></canvas>
</div>

<style>
    .canvas-container {
        display: flex;
        justify-content: center;
    }
</style>

<script>
  // Import the star-canvas.ts file
  import "../utils/star-canvas";
</script>
